<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center">

        <div class="container">
          <img src="../../../assets/14.jpg" alt=""  width="1265px" height="530px"/> 
          <div class="centered"> WELCOME <br><br><br><br>TO THE<br><br> <br><br>QUIZ GAME</div>
          
        </div>
        
        <!-- <h1>Welcome to the Quiz</h1> -->
        <!-- <button mat-raised-button color="accent">Home Page</button> -->
        <!-- <img src="../../../assets/home.jpg" alt="" />  -->
      </div>
    </div>
  </div>
</div>
